.basket {
    padding: 20px 40px;

    .breadcrumbs {
        display: flex;
        img {
            width: 14%;
        }

        .ml-10 {
            margin-left: 10px;
        }
    }
    .breadcrumbs + h2 {
        cursor: pointer;
    }
    .basket-item {
        width: 89%;
        background-color: white;
        box-shadow: 1px 0px 3px 1px rgba(0, 0, 0, 0.35);
        height: 134px;
        padding: 10px;
        margin-top: 10px;

        .basket-name {
            display: inline;
        }
    }
    .total {
        margin-top: 30px;
        border-top: 1px solid black;
        padding-top: 10px;
    }
}
