<header>
    <div class="row no-gutter app-header">
        <div class="col-sm-12">
            <div class="row no-gutter">
                <div class="col-sm-7 header-name">
                    <h3>E-Commerce Site</h3>
                </div>
                <div class="col-sm-5 header-menu text-right">
                    <div class="btn-group cart">
                        <img class="img-responsive dropdown" src="assets/img/cart.png" title="Click to view carts"
                            alt="Click to view carts" id="cartList" (click)="getData()" data-toggle="dropdown"
                            data-target="cartList" aria-haspopup="true" aria-expanded="false" />
                        <span *ngIf="cartCount > 0" class="cart-badge" matBadge="{{cartCount}}"
                            matBadgePosition="after"></span>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="cartList">
                            <!-- (click)="stopPropagation($event)" -->
                            <li *ngIf="allcarts.length === 0">
                                <div class="dropdown-item text-center">
                                    <span class="n-name">No Products Added</span>
                                </div>
                            </li>
                            <div style="max-height: 250px; overflow: auto;">
                                <li *ngFor="let cart of allcarts; let idx=index;">
                                    <div class="dropdown-item">
                                        <div class="product-name text-capitalize">{{cart.name}},</div>
                                        <div class="product-name float-right">{{cart.price}} / item </div>
                                        <div class="n-date">
                                            <input type="text" name="cart.id" id="cart.id" value="{{cart.count}}">
                                        </div>
                                        <div class="n-date">{{cart.total}}</div>
                                    </div>
                                </li>
                            </div>
                            <!-- (click)="navigateTocart()" -->
                            <li class="text-center p-5">
                                <span class="text-center n-name ">Checkout Basket</span>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</header>