<header>
    <div class="row no-gutter app-header">
        <div class="col-sm-12">
            <div class="row no-gutter">
                <div class="col-sm-7 header-name">
                    <h3>E-Commerce Site</h3>
                </div>
                <div class="col-sm-5 header-menu text-right">
                    <div class="btn-group cart">
                        <img class="img-responsive dropdown" src="assets/img/cart.png" title="Click to view carts"
                            alt="Click to view carts" id="cartList"  data-toggle="dropdown" data-target="cartList"
                            aria-haspopup="true" aria-expanded="false" />
                        <span *ngIf="cartCount > 0" class="cart-badge" matBadge="{{cartCount}}"
                            matBadgePosition="after"></span>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="cartList">
                            <li class="border-line" *ngIf="cartCount === 0">
                                <div class="dropdown-item text-center">
                                    <span class="n-name">No Products Added</span>
                                </div>
                            </li>
                            <div style="max-height: 250px; overflow: auto;">
                                <li class="border-line" *ngFor="let cart of cart; let idx=index;">
                                    <div class="dropdown-item">
                                        <div class="product-name text-capitalize">{{cart.name}},</div>
                                        <div class="product-name float-right">{{cart.price}} / item </div>
                                        <div class="n-date">
                                            <label for="{{cart.id}}">Quanity: </label>
                                            <input type="text" name="{{cart.id}}" id="{{cart.id}}"
                                                value="{{cart.count}}" [appNumber]="{'only-numbers': true}"
                                                (keyup)="checkQuantity($event, cart)">
                                        </div>
                                        <div class="product-name">sub-total: &#8377;{{cart.total}}</div>
                                        <div class="product-name float-right"><button
                                                (click)="removeFromCart(cart)">Remove
                                                from Cart</button></div>
                                    </div>
                                </li>
                            </div>
                            <li class="border-line" *ngIf="totalSum != 0">
                                <div class="product-name text-capitalize"> Total Items: {{cartCount}}</div>
                                <div class="product-name float-right">Total Price:
                                    &#8377;{{totalSum}}</div>
                            </li>
                            <li class="text-center p-5">
                                <span class="text-center n-name" (click)="navigateToBasket()">Checkout Basket</span>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</header>