<div class="row products">
    <div class="col-md-12">
        <h2>Products</h2>
    </div>
    <div class="col-md-3" *ngFor="let item of shopList">
        <div class="product-list">
            <div> <img src="{{item.img}}" alt=""></div>
            <div>Product: {{item.name}}</div>
            <div>Price: &#8377;{{item.price}}</div>
            <div>Quanity: {{item.quantity}}</div>
            <div><button [disabled]="item.quantity == 0" (click)="addToCart(item)">Add to Cart</button></div>
        </div>
    </div>
</div>